:root {
  /* Mobile */
  --mobile-heading-01: 32px;
  --mobile-heading-02: 28px;
  --mobile-heading-03: 24px;
  --mobile-heading-04: 20px;
  --mobile-heading-05: 18px;
  --mobile-heading-06: 16px;

  --mobile-body-xl: 16px;
  --mobile-body: 14px;
  --mobile-body-sm: 12px;

  --mobile-caption: 12px;
  --mobile-helper-text: 12px;
  --mobile-code: 14px;

  --mobile-heading-01: 40px;
  --mobile-heading-02: 36px;
  --mobile-heading-03: 30px;
  --mobile-heading-04: 28px;
  --mobile-heading-05: 26px;
  --mobile-heading-06: 24px;

  --mobile-body-xl: 24px;
  --mobile-body: 20px;
  --mobile-body-sm: 16px;

  --mobile-caption: 16px;
  --mobile-helper-text: 16px;
  --mobile-code: 20px;

  --mobile-tracking-heading-01: -0.8px;
  --mobile-tracking-heading-02: -0.4px;
  --mobile-tracking-heading-03: -0.4px;

  /* Desktop */
  --desktop-heading-01: 54px;
  --desktop-heading-02: 42px;
  --desktop-heading-03: 32px;
  --desktop-heading-04: 28px;
  --desktop-heading-05: 20px;
  --desktop-heading-06: 18px;

  --desktop-body-xl: 18px;
  --desktop-body: 16px;
  --desktop-body-sm: 14px;

  --desktop-caption: 12px;
  --desktop-helper-text: 12px;
  --desktop-code: 14px;

  --desktop-heading-01: 64px;
  --desktop-heading-02: 50px;
  --desktop-heading-03: 40px;
  --desktop-heading-04: 36px;
  --desktop-heading-05: 28px;
  --desktop-heading-06: 26px;

  --desktop-body-xl: 26px;
  --desktop-body: 24px;
  --desktop-body-sm: 20px;

  --desktop-caption: 16px;
  --desktop-helper-text: 16px;
  --desktop-code: 20px;

  --desktop-tracking-heading-01: -1.2px;
  --desktop-tracking-heading-02: -0.8px;
  --desktop-tracking-heading-03: -0.4px;
}